<table class="table table-bordered table-striped table-hover" role="grid">
  <thead>
  <tr>
    <th>ID</th>
    <th>Public ID</th>
    <th>Исполнитель</th>
    <th>Заголовок</th>
    <th>JIRA ID</th>
    <th>Описание</th>
    <th>Статус</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render tasks %>
  </tbody>
</table>
