<div>
  <%= p session.to_h %>
</div>

<div>
  <%= p current_account.attributes %>
</div>

<h1>Задачи</h1>

<%= link_to "Новая задача", new_task_path %>

<div id="tasks">
  <table class="table table-bordered table-striped table-hover" role="grid">
    <thead>
    <tr>
      <th>ID</th>
      <th>Public ID</th>
      <th>Исполнитель</th>
      <th>Описание</th>
      <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <%= render @tasks %>
    </tbody>
  </table>
</div>
