<h1>Заработано за период: <%= earned_by_managers(@payment_transactions) %></h1>

<p>Пользователей ушло в минус за период: <%= count_loss_accounts(@payment_transactions) %></p>

<p>Самая дорогая задача за период: <%= most_expensive_task(@payment_transactions) %></p>
